.card {
    margin: 15px;
    padding: 10px;
}

.card-header {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    background-color: darkgrey;
    color: antiquewhite;
}

.panel-body {
    padding: 15px;
}

.jumbotron {
    background-color: darkgrey;
    color: antiquewhite;
    font-weight: bold;
}

body {
    background-color: blanchedalmond;
}