body {
    background-image: url(../images/train_logo.png);
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 2;
}
    
    .card {
        text-align: center;
        background-color: white;
        border: 2px solid ghostwhite;
        border-radius: 5px;
    }

    .jumbotron {
        border: 2px solid ghostwhite;
        border-radius: 5px;
    }

    .articleHeadline {
        line-height: 1.5;
    }

    #submitbutton {
        font-family: FontAwesome;
    }